@page "/"
@inject HttpClient Client

<PageTitle>Customers List</PageTitle>

@if (this._customers == null)
{
    <p>Loading...</p>
}
else
{
    <table class="customers-table">
        <thead>
            <tr>
                <td>Name</td>
                <td>Surname</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (CustomerListItemDTO customer in _customers)
            {
                <tr @key="customer.ID">
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <a href="@LinkBuilder.GetCustomerLink(customer)">View & Edit</a>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<CustomerListItemDTO>? _customers;

    protected override async Task OnParametersSetAsync()
    {
        this._customers = await Client.GetFromJsonAsync<IEnumerable<CustomerListItemDTO>>("customers");

        await base.OnParametersSetAsync();
    }
}