@page "/"
@inject HttpClient Client

<PageTitle>Customers List</PageTitle>

@if (this._customers == null)
{
    <p>Loading...</p>
}
else
{
    <MudSimpleTable Striped="true" >
        <thead>
            <tr>
                <td>Name</td>
                <td>Surname</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (CustomerListItemDTO customer in _customers)
            {
                <tr @key="customer.ID">
                    <td>@customer.FirstName</td>
                    <td>@customer.LastName</td>
                    <MudButton Href="@LinkBuilder.GetCustomerLink(customer)" Color="Color.Primary" Variant="Variant.Outlined">View & Edit</MudButton>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
}

@code {
    private IEnumerable<CustomerListItemDTO>? _customers;

    protected override async Task OnParametersSetAsync()
    {
        this._customers = await Client.GetFromJsonAsync<IEnumerable<CustomerListItemDTO>>("customers");

        await base.OnParametersSetAsync();
    }
}